html{
    overflow-y: scroll;
}

.container{
    margin-top: 100px;
    width: 100%;
    height: 100%;
}

.form-group {
    display: inline-block;
    margin-right: 10px;
}

.form-control {
    width: 200px;
    height: 34px;
}

.btn-success {
    vertical-align: bottom;
    height: 34px;
    line-height: 1.5;
}